<app-header></app-header>

<h5 class="text-center">Delete Item</h5>
<hr class="hr-primary"><br>

<form >

    <div class="form-row " >
        <div class="form-group col-md-6">
            <label id="lb">*ISBN</label>
            <input type="number" class="form-control" [(ngModel)]="isbn" id="tb" name="isbn" placeholder="Enter ISBN">
            <br>
            <button type="submit" class="btn btn-primary  float-sm-right" (click)="delete()">Delete</button>
            <button type="reset" class="btn btn-secondary  float-sm-right" >Clear</button>
        </div>
        
      </div>
    <div class="container-fluid">

        <div>
            <h5 *ngFor="let post of posts ">{{post}} </h5>    
        </div>   

        <h6>Number Of Free Book Spaces - {{ bookSpace }} </h6>
        <h6>Number Of Free DVD Spaces - {{ dvdSpace }} </h6>
        
    
    </div>

</form>
