

<div class="bg-img">
  <div class = "container ">
    <br>
    <h1 class="text-center"> Welcome To UOW Library Management System! </h1><br><br><br><hr>
  </div>

<div class = "box">

  <div class="d-flex justify-content-center">
    <img src="assets/images/1.jpeg" alt="loading" class="img-size" routerLink="/addBook">
    <img src="assets/images/2.jpeg" alt="loading" class="img-size" routerLink="/addDvd">
    <img src="assets/images/3.jpeg" alt="loading" class="img-size" routerLink="/delete">
    <img src="assets/images/4.jpeg" alt="loading" class="img-size" routerLink="/display">
  </div>
  <div class="d-flex justify-content-center">
    <img src="assets/images/5.jpeg" alt="loading" class="img-size" routerLink="/borrow">
    <img src="assets/images/6.jpeg" alt="loading" class="img-size" routerLink="/return">
    <img src="assets/images/7.jpeg" alt="loading" class="img-size" routerLink="/report">
    <img src="assets/images/8.jpeg" alt="loading" class="img-size" routerLink="/search">

  </div>

</div>

</div>





