
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home" >University Of Westminster Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/addBook">Add Book</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/addDvd">Add DVD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/delete">Delete</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/display">Display</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/borrow">Borrow</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/return">Return</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/report">Generate Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search Item</a>
    </li>
            
    </ul>

  </div>
</nav>


<router-outlet></router-outlet>